body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.2em;
    margin-top: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 0.5em;
}

nav a {
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

.full-page-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* ビューポートの高さの90% */
    text-align: center;
}

.full-page-image-container img {
    max-width: 90%;
    max-height: 70vh; /* 画像の高さをビューポートの70%に制限 */
    object-fit: contain; /* アスペクト比を維持 */
}

.full-page-image-container a {
    margin-top: 20px;
}

/* admin_generate.html specific styles */
table { border-collapse: collapse; width: 100%; margin-top: 1em; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: center; height: 2.5em; }
th { background-color: #F2F2F2; }
.header-controls { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em; }
.month-nav { font-size: 1.5em; font-weight: bold; }
.position-name { writing-mode: vertical-rl; }
.button { background-color: #F0F0F0; border: 1px solid #ccc; padding: 8px 16px; text-decoration: none; color: black; border-radius: 5px; font-size: 14px; }
